APP_NAME=Kepegawaian_JMC
APP_CLIENT=JMC

NUXT_PUBLIC_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key

DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/NAMA_DATABASE"

JWT_SECRET="your_jwt_secret_key"